<div class="card">
  <div class="card-header">Summary</div>
  <div class="card-body">
    <ng-container *ngIf="totalIncome$ | async as totalIncome">
      <ng-container *ngIf="totalExpense$ | async as totalExpense">
        <div>
          <strong>Total Income:</strong>
          {{ totalIncome | currency: "INR" : "symbol" }}
        </div>

        <div class="mt-2">
          <strong>Total Expense:</strong>
          {{ totalExpense | currency: "INR" : "symbol" }}
        </div>

        <div class="mt-2">
          <strong>Balance:</strong>
          {{ totalIncome - totalExpense | currency: "INR" : "symbol" }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
