<div
  class="card"
  [ngClass]="
    transaction.type === eTransactionType.expense
      ? 'border-danger-subtle'
      : 'border-success-subtle'
  "
>
  <div class="card-header">
    <div class="text-truncate" [ngbTooltip]="transaction.description">
      {{ transaction.description }}
    </div>
  </div>
  <div class="card-body">
    <div
      [ngClass]="
        transaction.type === eTransactionType.expense
          ? 'text-danger'
          : 'text-success'
      "
    >
      {{ transaction.amount | currency: "INR" : "symbol" }}
    </div>
    <div class="text-muted small">
      {{ transaction.date | date: "dd MMMM, YYYY" }}
    </div>
  </div>
</div>
