<div
  class="card"
  [ngClass]="
    transaction.type === eTransactionType.expense
      ? 'border-danger-subtle'
      : 'border-success-subtle'
  "
>
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="text-truncate" [ngbTooltip]="transaction.description">
        {{ transaction.description }}
      </div>
      <fa-icon
        [icon]="deleteIcon"
        (click)="remove(transaction.id)"
        role="button"
        ngbTooltip="Delete"
        aria-label="Delete"
      ></fa-icon>
    </div>
  </div>
  <div class="card-body">
    <div
      [ngClass]="
        transaction.type === eTransactionType.expense
          ? 'text-danger'
          : 'text-success'
      "
    >
      {{ transaction.amount | currency: "INR" : "symbol" }}
    </div>
    <div class="text-muted small">
      {{ transaction.date | date: "dd MMMM, YYYY" }}
    </div>
  </div>
</div>
