<div
  class="card"
  [ngClass]="
    transaction.type === eTransactionType.expense
      ? 'border-danger-subtle'
      : 'border-success-subtle'
  "
>
  <div class="card-header">
    <div class="d-flex justify-content-between gap-3">
      <!-- icon and name -->
      <div class="d-flex gap-3" style="flex: 1; min-width: 0">
        <fa-icon
          [icon]="getCategory(transaction.category).icon"
          [ngbTooltip]="getCategory(transaction.category).name"
        ></fa-icon>
        <div class="text-truncate" [ngbTooltip]="transaction.description">
          {{ transaction.description }}
        </div>
      </div>

      <!-- icons -->
      <div class="d-flex gap-3">
        <fa-icon
          [icon]="editIcon"
          (click)="onEditClick(content)"
          role="button"
          ngbTooltip="Edit"
          aria-label="Edit"
        ></fa-icon>
        <fa-icon
          [icon]="deleteIcon"
          (click)="onDeleteClick(transaction.id)"
          role="button"
          ngbTooltip="Delete"
          aria-label="Delete"
        ></fa-icon>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div
      [ngClass]="
        transaction.type === eTransactionType.expense
          ? 'text-danger'
          : 'text-success'
      "
    >
      {{ transaction.amount | currency: "INR" : "symbol" }}
    </div>
    <div class="text-muted small">
      {{ transaction.date | date: "dd MMMM, YYYY" }}
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Transaction</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>

  <div class="modal-body">
    <app-add-edit-transaction
      [isEdit]="true"
      [id]="transaction.id"
      (save)="onTransactionSave()"
    ></app-add-edit-transaction>
  </div>
</ng-template>
