<form [formGroup]="addTransactionForm" (submit)="onSave()">
  <div class="row">
    <!-- Description -->
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <label class="form-label" for="description">Description</label>
      <input
        id="description"
        class="form-control"
        [ngClass]="
          addTransactionForm.controls.description.touched &&
          addTransactionForm.controls.description.errors
            ? 'is-invalid'
            : ''
        "
        type="text"
        formControlName="description"
      />
      <div
        class="invalid-message"
        *ngIf="
          addTransactionForm.controls.description.touched &&
          addTransactionForm.controls.description.errors?.['required']
        "
      >
        Description is required
      </div>
    </div>

    <!-- Amount -->
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <label class="form-label" for="amount">Amount</label>
      <div class="input-group">
        <span class="input-group-text">&#8377;</span>
        <input
          id="amount"
          formControlName="amount"
          type="text"
          class="form-control"
          (keydown)="onKeyDownAmount($event)"
          [ngClass]="
            addTransactionForm.controls.amount.touched &&
            addTransactionForm.controls.amount.errors
              ? 'is-invalid'
              : ''
          "
          aria-label="Amount"
        />
        <span class="input-group-text">.00</span>
      </div>
      <div
        class="invalid-message"
        *ngIf="
          addTransactionForm.controls.amount.touched &&
          addTransactionForm.controls.amount.errors?.['required']
        "
      >
        Amount is required
      </div>
    </div>

    <!-- Category -->
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <label class="form-label" for="category">Category</label>
      <ng-select
        labelForId="category"
        [items]="transactionService.categoryOptions"
        formControlName="category"
        bindLabel="name"
        bindValue="key"
        [clearable]="false"
        [searchable]="true"
      ></ng-select>
      <div
        class="invalid-message"
        *ngIf="
          addTransactionForm.controls.category.touched &&
          addTransactionForm.controls.category.errors?.['required']
        "
      >
        Category is required
      </div>
    </div>

    <!-- Type -->
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <label class="form-label" for="type">Type</label>
      <ng-select
        labelForId="type"
        [items]="transactionTypeOptions"
        formControlName="type"
        bindLabel="name"
        bindValue="key"
        [clearable]="false"
        [searchable]="false"
      ></ng-select>
      <div
        class="invalid-message"
        *ngIf="
          addTransactionForm.controls.type.touched &&
          addTransactionForm.controls.type.errors?.['required']
        "
      >
        Type is required
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary mt-3"
    [disabled]="addTransactionForm.invalid"
  >
    Save
  </button>
</form>
